[csgo]
192.168.1.1

[csgo:vars]
SERVER_NAME=effed_for_dead

[common:children]
csgo

[common:vars]
CEVO_SERVERNAME=cevo
CEVO_SERVERNAME_OT=cevo_ot
mirror_url=http://mirrors.linode.com/debian/
deb_security_mirror_url=http://mirrors.linode.com/debian-security/
github_user=fly

